+ select() take a subset of the columns
+ filter() take a subset of the rows
+ mutate() add or modify existing columns
+ rename() rename columns
+ arrange() sort the row
+ summarize()
+ inner_join()
+ left_join()

In [7]:
version

               _
platform       x86_64-w64-mingw32
arch           x86_64
os             mingw32
system         x86_64, mingw32
status
major          3
minor          4.1
year           2017
month          06
day            30
svn rev        72865
language       R
version.string R version 3.4.1 (2017-06-30)
nickname       Single Candle

In [55]:
library(dplyr)
iris2<-iris
head(iris2)

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa
6 5.4          3.9         1.7          0.4         setosa

In [56]:
select(filter(iris2,Sepal.Length > 5.4 & Species=="setosa"),Sepal.Length,Sepal.Width)

  Sepal.Length Sepal.Width
1 5.8          4.0
2 5.7          4.4
3 5.7          3.8
4 5.5          4.2
5 5.5          3.5

pipeline

In [57]:
filter(iris2,Sepal.Length > 5.4 & Species=="setosa")%>%
select(Sepal.Length,Sepal.Width)
iris2<-mutate(iris2,Rat=Sepal.Length/Sepal.Width)

  Sepal.Length Sepal.Width
1 5.8          4.0
2 5.7          4.4
3 5.7          3.8
4 5.5          4.2
5 5.5          3.5

In [58]:
iris2<-rename(iris2,Ratio=Rat)
iris2[1,]

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species Ratio
1 5.1          3.5         1.4          0.2         setosa  1.457143

In [60]:
arrange(iris2,desc(Ratio))[1,]

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species   Ratio
1 7.7          2.6         6.9          2.3         virginica 2.961538

In [61]:
iris2 %>%
group_by(Species) %>%
summarize(N=n(),Length=mean(Sepal.Length),Width=mean(Sepal.Width))

  Species    N  Length Width
1 setosa     50 5.006  3.428
2 versicolor 50 5.936  2.770
3 virginica  50 6.588  2.974