reshap2<br>
conda 環境安裝 R package<br>
conda install -c conda-forge r-reshape2 <br>
https://www.rforexcelusers.com/make-pivottable-in-r/<br>

In [4]:
library(reshape2)

In [6]:
data <- data.frame(time = as.POSIXct(rep(10^4+1:3, each=4), origin="2016-08-04"),
ID=rep(c("TXF","MXF","EXF","FXF"), 3),price = rep(c(8000,8000,300,1000),3)
+rbinom(12,50,0.5), volume = 1+rbinom(12,5,0.5))
data

   time                ID  price volume
1  2016-08-04 10:46:41 TXF 8026  3
2  2016-08-04 10:46:41 MXF 8028  3
3  2016-08-04 10:46:41 EXF  326  2
4  2016-08-04 10:46:41 FXF 1024  4
5  2016-08-04 10:46:42 TXF 8026  4
6  2016-08-04 10:46:42 MXF 8026  3
7  2016-08-04 10:46:42 EXF  323  3
8  2016-08-04 10:46:42 FXF 1027  3
9  2016-08-04 10:46:43 TXF 8028  4
10 2016-08-04 10:46:43 MXF 8032  5
11 2016-08-04 10:46:43 EXF  319  4
12 2016-08-04 10:46:43 FXF 1025  4

寬資料一直不是很喜歡這個命名

In [9]:
Wdata<-dcast(data, formula = time ~ ID, value.var = c("volume"))
Wdata

  time                EXF FXF MXF TXF
1 2016-08-04 10:46:41 2   4   3   3
2 2016-08-04 10:46:42 3   3   3   4
3 2016-08-04 10:46:43 4   4   5   4

In [11]:
ldata<-melt(Wdata, id.vars =c("time"), variable.name = "ID", value.name = "volume")
ldata

   time                ID  volume
1  2016-08-04 10:46:41 EXF 2
2  2016-08-04 10:46:42 EXF 3
3  2016-08-04 10:46:43 EXF 4
4  2016-08-04 10:46:41 FXF 4
5  2016-08-04 10:46:42 FXF 3
6  2016-08-04 10:46:43 FXF 4
7  2016-08-04 10:46:41 MXF 3
8  2016-08-04 10:46:42 MXF 3
9  2016-08-04 10:46:43 MXF 5
10 2016-08-04 10:46:41 TXF 3
11 2016-08-04 10:46:42 TXF 4
12 2016-08-04 10:46:43 TXF 4

In [23]:
library(dplyr)
data2<-select(data,"ID","volume")
data2

   ID  volume
1  TXF 3
2  MXF 3
3  EXF 2
4  FXF 4
5  TXF 4
6  MXF 3
7  EXF 3
8  FXF 3
9  TXF 4
10 MXF 5
11 EXF 4
12 FXF 4

In [24]:
data2<-group_by(data2,ID=data2$ID)%>%
summarise(volume=sum(volume))
data2

  ID  volume
1 EXF  9
2 FXF 11
3 MXF 11
4 TXF 11